<div class="footer">
    <div class="footer-table">
        <div class="footer-section">
            <div class="footer-logo">
                <img src="/images/main_logo.png">
            </div>
            <div class="footer-main">
                <ul>
                    <h1><a href="#"> 이용약관</a></h1>
                    <p>Free Drow<br>
                        대표자 : 정성균<br>
                        서울갤러리 : 서울특별시 강남구 도산대로81길<br>
                        16-4(청담동)</p>
                </ul>
                <ul>
                    <h1>BANK INFO</h1>
                    <p>개인정보 관리책임자 : 정성균<br>
                        입금계좌 : 기업은행 479-073849-04-012<br>
                        예금주 : (주)지웅파인아트
                    </p>
                </ul>
                <ul>
                    <h1>CONTACT</h1>
                    <p>1600-2302<br>
                        info@jwartgallery.co.kr
                    </p>
                </ul>
            </div>
        </div>
        <p class="copyright">Copyright ©2019 JW Fine Art all rights reserved.</p>
    </div>
</div>